@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../fonts/CabinetGrotesk-Regular.woff") format("woff");
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px 0 100px;
  min-height: 60px;
}

.header__logo-date-container {
  display: flex;
  align-items: center;
  column-gap: 30px;
  font-family: "Cabinet Grotesk";
}

.header__logo {
  height: 40px;
  width: 90px;
}

.header__date-location {
  font-size: 20px;
  margin: 2px 0 0 0;
  font-family: "Cabinet Grotesk";
}

.header__btns {
  font-family: "Cabinet Grotesk";
  display: flex;
  margin: 0;
  padding: 0;
  column-gap: 20px;
  list-style-type: none;
  align-items: center;
  justify-content: space-evenly;
}

.header__add-clothes-btn {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: none;
  color: black;
  background-color: #fff;
}

.header__add-clothes-btn:hover {
  cursor: pointer;
}

.header__username {
  font-family: "Cabinet Grotesk";
  color: #000;
  font-weight: 700;
  font-size: 20px;
  line-height: 24.8px;
  margin: 0;
  text-decoration: none;
}

.header__user-avatar {
  margin: 3px 0 0 0;
}
