.sidebar__content {
  display: flex;
  flex-direction: column;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  padding: 5px;
}

.profile__sidebar_user-avatar {
  width: 150px;
  height: 150px;
  margin: 15px auto;
}
